<div id="mrbp-content" class="container-fluid">
    <!-- Page Heading -->
    <div class="filter-section">
        <button class="btn btn-primary pull-right">Book meeting</button>
        <div class="btn-group meeting-status-dropdown pull-right" uib-dropdown auto-close="outsideClick">
            <button id="btn-append-to-single-button" type="button" class="btn btn-secondary btn-dropdown meeting-filter-btn" uib-dropdown-toggle>
                <span class="filter-status-icon" ng-repeat="menu in HomeCtrl.filterMenus">
                    <div role="{{menu.role}}" class="{{menu.className}}"></div>
                </span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
                <li ng-repeat="menu in HomeCtrl.filterMenus" class="all-filters" role="allFilters">
                    <a class="dropdown-link">
                    <div class="input-checkbox-wrap " role="all" style="display: inline;">
                        <input type="checkbox" ng-value="" ng-model="HomeCtrl.meetingFilter.status[menu.role]"/>
                        <div role="{{menu.role}}" class="{{menu.className}}"></div>
                        <label class="input-checkbox-label" for="all">{{menu.label}}</label>
                    </div>
                    </a>
                </li>
            </ul>
          </div>
    </div>
    <div class="row" id="main">
        <div class="col-sm-9 col-md-9 well meeting-list-cntr" id="content" ng-repeat="list in HomeCtrl.meetingsList">
            <div class="col-sm-3 col-md-3 meeting-details-contr" 
                    ng-class="{'mrbp-meeting-not-started' : list.status==='NOT_STARTED',
                                'mrbp-meeting-completed' : list.status==='COMPLETED',
                                'mrbp-meeting-cancelled' : list.status==='CANCELLED',
                                'mrbp-meeting-inprogress' : list.status==='IN_PROGRESS'}">
                <span ng-if="list.status==='COMPLETED'">
                    <i class="fa fa-check-square-o pull-right meeting-status-icon" aria-hidden="true"></i>
                </span>
                <span ng-if="list.status==='NOT_STARTED'">
                    <i class="fa fa-clock-o pull-right meeting-status-icon" aria-hidden="true"></i>
                </span>
                <span ng-if="list.status==='IN_PROGRESS'">
                    <i class="fa fa-hourglass-2 pull-right meeting-status-icon" aria-hidden="true"></i>
                </span>
                <span ng-if="list.status==='CANCELLED'">
                    <i class="fa fa-close pull-right meeting-status-icon" aria-hidden="true"></i>
                </span>
                <div class="meeting-time-section">
                    <span class="mrbp-font20" style="margin-left: 23px;">{{list.bookFromTime}}</span><br/>
                    <span>to</span><br/>
                    <span class="mrbp-font20">{{list.bookToTime}}</span>
                </div>
                <div class="meeting-date-section">
                    <span>{{list.meetingDate}}</span>
                    <span class="pull-right"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                </div>
            </div>
            <div class="col-sm-8 col-md-8 meeting-attendees-contr">
                <div class="col-sm-12 col-md-12 attentees-list">
                         <div class="mrbp-meeting-title">
                            {{list.meetingTitle}}
                        </div>
                      <div class="col-sm-8 col-md-8">{{list.bookedBy.name}} (Initiator)</div>
                      <div class="col-sm-4 col-md-4 meeting-info">
                        <span>Details</span>
                        <a href="" uib-tooltip-template="'views/home/attendees-details-tool-tip.html'" tooltip-placement="right-bottom">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 attentees-list" ng-repeat="attendees in list.attendies">
                    <div class="col-sm-8 col-md-8">{{attendees.name}}</div>
                    <div class="col-sm-4 col-md-4 meeting-info">
                        <span>Details</span>
                        <a href="" uib-tooltip-template="'views/home/attendees-details-tool-tip.html'" tooltip-placement="right-bottom">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-1 col-md-1 edit-meeting-icon">
                <a href="" ng-click="onEditMeeting(list)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                <a href="" ng-click="onCancelMeeting(list)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>