<div class="pen-title">
	<h2>Meeting Room Booking Portal</h2>
	<!-- <span>Pen
		<i class='fa fa-code'></i> by
		<a href='javascript:void(0)'>Nithin</a>
	</span> -->
</div>
<!-- <div class="rerun">
	<a href="">Rerun Pen</a>
</div> -->
<div class="container loginContainer">
	<div class="card"></div>
	<div class="card">
		<h1 class="title">Login</h1>
		<form>
			<div class="input-container">
				<input type="text" id="Username" ng-model="LoginCtrl.loginModel.userName" required="required"/>
				<label for="Username">Username</label>
				<div class="bar"></div>
			</div>
			<div class="input-container">
				<input type="password" id="Password" ng-model="LoginCtrl.loginModel.password" required="required"/>
				<label for="Password">Password</label>
				<div class="bar"></div>
			</div>
			<div class="button-container">
				<button ng-click="LoginCtrl.doLogin()">
					<span>Sign In</span>
				</button>
			</div>
			<!-- <div class="footer">
				<a href="#">Forgot your password?</a>
			</div> -->
		</form>
	</div>
	<div class="card alt">
		<div class="toggle" ng-click="LoginCtrl.onToggleClick()"></div>
		<h1 class="title">Register
			<div class="close" ng-click="LoginCtrl.onCloseClick()"></div>
		</h1>
		<form id="register-form" ng-if="LoginCtrl.isRegisterForm">
			<div class="input-container register">
				<input type="text" id="Username" required="required"/>
				<label for="Username">Username</label>
				<div class="bar"></div>
			</div>
			<div class="input-container register">
				<input type="password" id="Password" required="required"/>
				<label for="Password">Password</label>
				<div class="bar"></div>
			</div>
			<!-- <div class="input-container register">
				<input type="password" id="Repeat Password" required="required"/>
				<label for="Repeat Password">Repeat Password</label>
				<div class="bar"></div>
			</div> -->
            <div class="input-container register">
				<input type="text" id="employeeId" required="required"/>
				<label for="Repeat Password">Employee ID</label>
				<div class="bar"></div>
			</div>
            <div class="input-container register">
				<input type="text" id="emailId" required="required"/>
				<label for="Repeat Password">Email</label>
				<div class="bar"></div>
			</div>
            <div class="input-container register">
				<input type="text" id="contact" required="required"/>
				<label for="Repeat Password">Contact</label>
				<div class="bar"></div>
			</div>
			<div class="button-container">
				<button>
					<span>Next</span>
				</button>
			</div>
		</form>
	</div>
</div>
<footer id="login-footer">
	<div id="copyright">
		<span>© 2016-2017 MRBP. All rights reserved.</span>
	</div>
</footer>
