<form class="row">
    <h3 class="col-md-12">BOOKING MEETING ROOM</h3>
    <div class="col-md-12">
          <h4 class="col-md-12">Date</h4>
          <div class="col-md-6">
          <label>From :</label>
          <div class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
          </div>
          <div class="col-md-6">
          <label>To :</label>
          <div class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt2" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
        </div>
    </div>
    <div class="col-md-12">
    <strong>Time</strong>
    <div uib-timepicker ng-model="mytime1" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
    <div uib-timepicker ng-model="mytime2" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
    </div>
    <div class="col-md-12">
    <tags-input ng-model="tags">
      <auto-complete source="loadItems($query)"></auto-complete>
    </tags-input>
    </div>
    <div class="input-group">
        <label for="file">Select File</label>
        <input type="file" ng-model="file" name="file" base-sixty-four-input required onload="onLoad" maxsize="500" accept="image/*">
        <span class="help-block">
          <ul>
            <li>required</li>
            <li>maxsize = 500</li>
            <li>accept = image/*</li>
          </ul>
        </span>
    </div>
    <button>BOOK NOW</button>
</form>
